<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Image and text -->
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="../../../../assets/img/A-64.png"
            alt=""
            width="30"
            height="24"
            class="d-inline-block align-top"
          />
          Avengers
        </a>
      </div>
    </nav>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/heroes']" routerLinkActive="router-link-active" >Heroes</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/about']" routerLinkActive="router-link-active" >About</a>
        </li>
      </ul>

      <div class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          (keyup.enter)="searchHero(searchText.value)" #searchText
        />
        <button (click)="searchHero(searchText.value)" class="btn btn-outline-primary" type="button">Search</button>
      </div>
    </div>
  </div>
</nav>
